# URL base da API do backend
# Android Emulator: http://10.0.2.2:7137
# iOS Emulator / Web: http://localhost:7137
# Dispositivo físico: http://<SEU_IP_LOCAL>:7137
EXPO_PUBLIC_API_URL=http://10.0.2.2:7137
